.featurePage{padding:0 10%}
.strip{z-index:auto}
ul li{text-align:left}
img.bordered{border:20px solid RGBA(50,50,50,0.4);display:inline-block}
img.left{margin-right:20px}
img.right{margin-left:20px}
.flexRow{display:flex; justify-content:center; margin-top:1em; align-items:center}
.flexRow.reversed{flex-direction:row-reverse}
header{text-align:center}
.featureHeader{margin:0 auto; max-width:600px; width:100%}
.strip{animation:none}
main h2.alt{font-size:1.1em; color:aqua; font-family:sans-serif,helvetica}
main p{font-size:1.1em; line-height: 1.3em;}
main hr{
	border: 0;
    height: 1px;
	margin:1em 20%;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

@media only screen and (max-width: 600px) {
	.flexRow{display:block; text-align:center}
	img.bordered{width:60%}
	img.left{margin-right:0}
	img.right{margin-left:0}
	.featurePage{padding:0 2%}
	main hr{margin-bottom:2em}
}