#toolbar{display:flex; justify-content:space-between; background:RGBA(0,0,0,0.3);padding:10px; position:fixed; bottom:0; left:0; width:100%; box-sizing:border-box; border-top:1px solid RGBA(0,0,0,0.7); z-index:9999;}
.addButton {
	box-shadow:inset 0px 1px 0px 0px #97c4fe;
	background:linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
	background-color:#3d94f6;
	border-radius:6px;
	border:1px solid #337fed;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #1570cd;
}
.addButton:hover {
	background:linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
	background-color:#1e62d0;
}
.addButton:active {
	position:relative;
	top:1px;
}
.dlButton {
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}
.dlButton:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.dlButton:active {
	position:relative;
	top:1px;
}


#meme-bg-target {
	background:#FFF;
	border:#CCC 1px solid;
	margin:20px 0px;
	display:inline-block;
	position:relative;
	overflow: hidden;
}
#img-meme-bg {
	width:100%;
}
#fileChooser{color:white; border:0}
#meme-preview {
	width:100%;
	background:#FFF;
	border:#CCC 1px solid;
	margin:0px;
	position:relative;
}
.meme-txt-area:focus,.meme-txt-area:focus-within{
	border:#FFF 1px dashed;
	/*box-shadow:1px 1px 2px RGBA(144,144,144,0.6); buggy on chrome mobile */
	background:RGBA(255,255,255,0.5);
}
.meme-txt-area {
	border:RGBA(0,0,0,0) 1px dashed;
	background:none;
	position:absolute;
	font-weight:bold;
	top:0;
	left:0;
	text-align:center;
	padding:0;
	min-width:150px;
	text-align:left;
	cursor:move;
	font-family: impact,arial;
	color:#fff;
	white-space:nowrap!important; /* <- canvas won't wrap automatically */
	font-size:40px;
	line-height:40px;
	text-stroke: black;
    text-stroke-width: 2px;
	-webkit-text-stroke: black;
    -webkit-text-stroke-width: 2px;
	caret-color: #ff16a0;
}
.meme-txt-area:focus {
	outline: none;
}
div#meme-canvas-container {
    display:inline-block;
    position:relative;
    max-width: 550px;
    width:100%;
}

.btn-add {
    padding: 10px 50px;
    margin-left: 15px;
    background: #F0F0F0;
    border: #dedddd 1px solid;
    border-radius: 2px;
}

.btn-save {
    padding: 10px 50px;
    margin-bottom: 25px;
    background: #09F;
    border: #09F 1px solid;
    border-radius: 2px;
    color:#FFF;
    font-size: 16px;
}

.choose-file {
    padding: 8px;
    border: #F0F0F0 1px solid;
    border-radius: 2px;
}

.label-preview {
    color:#333;
    margin: 20px 0px 10px;
}